<!-- Defining Title of Webpage -->
<% if @group.name %>
  <% @title = @group.name %>
<% else %>
  <% @title = "Your Kitty" %>
<% end %>

<!-- Navbar -->
<%= render 'shared/navbar_with_menu' %>

<!-- Fixed Navigation Button -->
  <!-- Title in the navbar is always determined in the controller. -->
<%= render 'shared/fixed_nav_btn' %>


<!-- SECTION TO SHOW GROUP MEMBERS AND OUTSTANDING AMOUNTS -->
<div class="container">
  <div class="title-section">
    <h3>Members</h3>
  </div>
</div>

<div class="container">
  <% if @group.users.length == 1 && @group.users[0] == @user %>
    <h5>No one else seems to have joined so far</h5>
  <% else %>
    <% @group.users.each do |member| %>
      <% next if member == @user %>
      <div class="list-item-tall">
        <div class="profile-img-container">
          <%= image_tag member.profile_picture_url, class: "avatar-medium" %>
        </div>
        <div class="divider">
          <div class="list-item-divider-content">
            <p class="list-item-text"><strong><%= member.first_name %> <%= member.last_name %></strong></p>
            <% if @user.outstanding_with_person_in_group(member, @group) == 0 %>
              <p class="list-item-text" >You're all square</p>
            <% elsif @user.outstanding_with_person_in_group(member, @group) < 0 %>
              <p class="list-item-text" >You owe: <span class="color-danger"> £<%= sprintf("%.2f", @user.outstanding_with_person_in_group(member, @group).to_f * -1 / 100) %></span></p>
            <% else %>
              <p class="list-item-text">Owes you: <span class="color-primary">£<%= sprintf("%.2f", @user.outstanding_with_person_in_group(member, @group).to_f / 100) %></span></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="section-spacer"></div>

<!-- SECTION TO SHOW EXPENSES -->
<div class="container">
  <div class="title-section">
    <h3>Recent Expenses</h3>
  </div>
</div>

<div class="container">
  <% if @group.expenses.empty? %>
    <h5>No expenses yet. Press the plus to add one!</h5>
  <% else %>
    <% @group.expenses.reverse.first(10).each do |expense| %>
      <%= link_to expense_path(expense, user_id: @user.id, group_id: @group.id) do %>
        <div class="list-item-short">
          <div class="divider">
            <div class="list-item-divider-content .align-baseline">
              <p class="list-item-text" ><%= expense.title %></p>
            </div>
            <div class="list-item-arrow-btn .align-baseline">
                <p class="list-item-text" ><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- JAVASCRIPT TO REFRESH PAGE IF YOU ARE THE ONLY MEMBER OF THE GROUP -->
<% if @group.users.length == 1 %>
  <script>
    function autoRefresh1(){
      window.location.reload();
    }
    setInterval('autoRefresh1()', 5000);
  </script>
<% end %>
