<!-- Uer Page Title -->
<% @title = "#{@user.first_name}'s Dashboard" %>

<!-- Fixed Navigation Button -->
<!-- Title in the navbar is always determined in the controller. -->
<%= render 'shared/fixed_nav_btn' %>
<!-- Navbar -->
<%= render 'shared/navbar_with_menu' %>
<!-- Tabs Bar -->
<div class="tab">
  <button class="tablinks" id="firsttab" onclick="openCity(event, 'FirstTab')"><%= @tabs[0] %></button>
  <% @tabs.each_with_index do |tab, index| %>
    <% if index != 0 %>
    <button class="tablinks" onclick="openCity(event, '<%= tab %>')"><%= tab %></button>
    <% end %>
  <% end %>
</div>

<!-- Profile Body -->
<div id="FirstTab" class="tabcontent">
  <div class="profile-header text-center">
    <%= image_tag @user.profile_picture_url, class: "avatar-profile-picture" %>
    <h2 class="color-white"><%= @user.first_name %> <%= @user.last_name %></h2>
  </div>
  <div class="container">
    <div class="title-section">
      <h3>Overview</h3>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p><strong>Outstanding:</strong></p>
        <% if @balance == 0 %>
          <h5 class="no-margin">£0.00</h5>
        <% elsif @balance > 0 %>
          <h5 class="no-margin">Owed: <span class="color-primary">£<%= sprintf("%.2f", (@balance.to_f) / 100) %></span></h5>
        <% else %>
          <h5 class="no-margin color-danger">Owe: <span class="color-danger">£<%= sprintf("%.2f", (@balance.to_f) / 100  * -1) %></span></h5>
        <% end %>
      </div>
    </div>
    <div class="card-row-space"></div>

    <div class="title-section">
      <h3>Profile Details</h3>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="no-margin"><strong>Joined On:</strong> <%= @user.created_at.strftime("%b %d, %Y") %></p>
        <hr>
        <p class="no-margin"><strong>Number of Transactions:</strong> <%= @transactions.count %></p>
        <hr>
        <p><strong>Number of times lent:</strong> <%= @expenses_paid.count %></p>
        <p class="no-margin"><strong>Amount lent:</strong> £<%= sprintf("%.2f", @amount_lent.to_f / 100) %></p>
        <hr>
        <p><strong>Number of times borrowed:</strong> <%= @splits_owed.count %></p>
        <p class="no-margin"><strong>Amount borrowed:</strong> £<%= sprintf("%.2f", @amount_borrowed.to_f / 100) %></p>
        <hr>
        <p><strong>Stinginess Ratio:</strong> <%= (@amount_lent.to_f/@amount_borrowed.to_f).round(2) %> (higher is less stingy...)</p>
      </div>
    </div>
    <div class="card-row-space"></div>
  </div>
</div>

<!-- Groups Body -->
<div id="Groups" class="tabcontent" style="display: none;">
  <div class="container">
    <div class="title-section">
      <h3>Your Groups</h3>
    </div>

    <% @user.groups.each do |group| %>
        <% if group.memberships.length == 1 %>
          <!-- Group Card With Only One Member -->
          <div class="card">
            <div class="groups-card-img-top group-card-img-size" style="background-image: url(<%=group.users.first.profile_picture_url%>);"></div>
            <div class="card-body">
              <h4 class="card-title"><%= group.name.capitalize %></h4>
              <% if @user.outstanding_with_group(group) == 0 %>
                <p>All square in this group!</p>
              <% elsif @user.outstanding_with_group(group) > 0 %>
                <p>Overall, the group owes you: <span class="color-primary">£<%= sprintf("%.2f", @user.outstanding_with_group(group).to_f / 100) %></span></p>
              <% else %>
                <p>Overall, you owe this group: <span class="color-warning">£<%= sprintf("%.2f", @user.outstanding_with_group(group).to_f * -1 / 100) %></span></p>
              <% end %>
              <% i = 0 %>
              <% group.users.each do |member| %>
                <% if member.outstanding_with_group(group) == 0 %>
                  <% i += 1 %>
                <% end %>
              <% end %>
              <div class="multiple-buttons">
              <% if i == group.memberships.length %>
                  <%= link_to group_path(user_id: @user.id, group_id: group.id) do %>
                  <p class="btn btn-filled-primary mr-2 mb-0"><i class="fa fa-search fa-fw" aria-hidden="true"></i> See Group</p>
                  <% end %>
                  <%= link_to group_path(group, user_id: @user.id, group_id: @group.id, group_to_delete_id: group.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <p class="btn btn-filled-danger no-margin"><i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i> Close Kitty</p>
                  <% end %>
              <% else %>
                <%= link_to group_path(user_id: @user.id, group_id: group.id) do %>
                  <p class="btn btn-filled-primary no-margin"><i class="fa fa-search fa-fw" aria-hidden="true"></i> See Group</p>
                <% end %>
                <button type="button" class="popover-info-btn ml-2"> ? </button>
              <% end %>
              </div>
            </div>
          </div>
          <div class="card-row-space"></div>
        <% elsif group.memberships.length == 2 %>
          <!-- Group with 2 Members -->
          <div class="card">
            <div class="groups-card-img-top group-card-img-size group-card-members-grid-2" style="background-image: url(https://placeholdit.co//i/550x350);">
              <div class="group-card-members-grid-2-child" style="background-image: url(<%=group.users.first.profile_picture_url%>);"></div>
              <div class="group-card-members-grid-2-child" style="background-image: url(<%=group.users.last.profile_picture_url%>);"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= group.name.capitalize %></h4>
              <% if @user.outstanding_with_group(group) == 0 %>
                <p>All square in this group!</p>
              <% elsif @user.outstanding_with_group(group) > 0 %>
                <p>Overall, the group owes you: <span class="color-primary">£<%= sprintf("%.2f", @user.outstanding_with_group(group)).to_f / 100 %></span></p>
              <% else %>
                <p>Overall, you owe this group: <span class="color-warning">£<%= sprintf("%.2f", @user.outstanding_with_group(group)).to_f * -1 / 100 %></span></p>
              <% end %>
              <% i = 0 %>
              <% group.users.each do |member| %>
                <% if member.outstanding_with_group(group) == 0 %>
                  <% i += 1 %>
                <% end %>
              <% end %>
              <div class="multiple-buttons">
              <% if i == group.memberships.length %>
                  <%= link_to group_path(user_id: @user.id, group_id: group.id) do %>
                  <p class="btn btn-filled-primary mr-2 mb-0"><i class="fa fa-search fa-fw" aria-hidden="true"></i> See Group</p>
                  <% end %>
                  <%= link_to group_path(group, user_id: @user.id, group_id: @group.id, group_to_delete_id: group.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <p class="btn btn-filled-danger no-margin"><i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i> Close Kitty</p>
                  <% end %>
              <% else %>
                <%= link_to group_path(user_id: @user.id, group_id: group.id) do %>
                  <p class="btn btn-filled-primary no-margin"><i class="fa fa-search fa-fw" aria-hidden="true"></i> See Group</p>
                <% end %>
                <button type="button" class="popover-info-btn ml-2"> ? </button>
              <% end %>
              </div>
            </div>
          </div>
          <div class="card-row-space"></div>
        <% elsif group.memberships.length == 3 %>
          <!-- Group with 3 Members -->
          <div class="card">
            <div class="groups-card-img-top group-card-img-size group-card-members-grid-over2" style="background-image: url(https://placeholdit.co//i/550x350);">
              <div class="group-card-members-grid-3-child-a" style="background-image: url(<%=group.users.first.profile_picture_url%>);"></div>
              <div class="group-card-members-grid-3-child-b" style="background-image: url(<%=group.users[1].profile_picture_url%>);"></div>
              <div class="group-card-members-grid-3-child-c" style="background-image: url(<%=group.users.last.profile_picture_url%>);"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= group.name.capitalize %></h4>
              <% if @user.outstanding_with_group(group) == 0 %>
                <p>All square in this group!</p>
              <% elsif @user.outstanding_with_group(group) > 0 %>
                <p>Overall, the group owes you: <span class="color-primary">£<%= sprintf("%.2f", @user.outstanding_with_group(group)).to_f / 100 %></span></p>
              <% else %>
                <p>Overall, you owe this group: <span class="color-warning">£<%= sprintf("%.2f", @user.outstanding_with_group(group)).to_f * -1 / 100 %></span></p>
              <% end %>
              <% i = 0 %>
              <% group.users.each do |member| %>
                <% if member.outstanding_with_group(group) == 0 %>
                  <% i += 1 %>
                <% end %>
              <% end %>
              <div class="multiple-buttons">
              <% if i == group.memberships.length %>
                  <%= link_to group_path(user_id: @user.id, group_id: group.id) do %>
                  <p class="btn btn-filled-primary mr-2 mb-0"><i class="fa fa-search fa-fw" aria-hidden="true"></i> See Group</p>
                  <% end %>
                  <%= link_to group_path(group, user_id: @user.id, group_id: @group.id, group_to_delete_id: group.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <p class="btn btn-filled-danger no-margin"><i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i> Close Kitty</p>
                  <% end %>
              <% else %>
                <%= link_to group_path(user_id: @user.id, group_id: group.id) do %>
                  <p class="btn btn-filled-primary no-margin"><i class="fa fa-search fa-fw" aria-hidden="true"></i> See Group</p>
                <% end %>
                <button type="button" class="popover-info-btn ml-2"> ? </button>
              <% end %>
              </div>
            </div>
          </div>
          <div class="card-row-space"></div>
        <% else %>
          <!-- Group with 4+ Members -->
          <div class="card">
            <div class="groups-card-img-top group-card-img-size group-card-members-grid-over2" style="background-image: url(https://placeholdit.co//i/550x350);">
              <div class="group-card-members-grid-4-child-a" style="background-image: url(<%=group.users[0].profile_picture_url%>);"></div>
              <div class="group-card-members-grid-4-child-b" style="background-image: url(<%=group.users[1].profile_picture_url%>);"></div>
              <div class="group-card-members-grid-4-child-c" style="background-image: url(<%=group.users[2].profile_picture_url%>);"></div>
              <div class="group-card-members-grid-4-child-d" style="background-image: url(<%=group.users[3].profile_picture_url%>);"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= group.name.capitalize %></h4>
              <% if @user.outstanding_with_group(group) == 0 %>
                <p>All square in this group!</p>
              <% elsif @user.outstanding_with_group(group) > 0 %>
                <p>Overall, the group owes you: <span class="color-primary">£<%= sprintf("%.2f", @user.outstanding_with_group(group)).to_f / 100 %></span></p>
              <% else %>
                <p>Overall, you owe this group: <span class="color-warning">£<%= sprintf("%.2f", @user.outstanding_with_group(group)).to_f * -1 / 100 %></span></p>
              <% end %>
              <% i = 0 %>
              <% group.users.each do |member| %>
                <% if member.outstanding_with_group(group) == 0 %>
                  <% i += 1 %>
                <% end %>
              <% end %>
              <div class="multiple-buttons">
              <% if i == group.memberships.length %>
                  <%= link_to group_path(user_id: @user.id, group_id: group.id) do %>
                  <p class="btn btn-filled-primary mr-2 mb-0"><i class="fa fa-search fa-fw" aria-hidden="true"></i> See Group</p>
                  <% end %>
                  <%= link_to group_path(group, user_id: @user.id, group_id: @group.id, group_to_delete_id: group.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <p class="btn btn-filled-danger no-margin"><i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i> Close Kitty</p>
                  <% end %>
              <% else %>
                <%= link_to group_path(user_id: @user.id, group_id: group.id) do %>
                  <p class="btn btn-filled-primary no-margin"><i class="fa fa-search fa-fw" aria-hidden="true"></i> See Group</p>
                <% end %>
                <button type="button" class="popover-info-btn ml-2"> ? </button>
              <% end %>
              </div>
            </div>
          </div>
          <div class="card-row-space"></div>
        <% end %>
    <% end %>
  </div>
</div>

<!-- People Body -->
<div id="People" class="tabcontent" style="display: none;">
  <div class="container">

  <!-- You are owed section -->
    <% unless @users_user_owed_by.empty? %>
      <div class="title-section">
        <h3>You are owed</h3>
      </div>
      <% @users.each do |member| %>
        <% if member == @user %>
          <% next %>
        <% elsif @user.outstanding_with_person_overall(member) == 0 %>
          <% next %>
        <% elsif @user.outstanding_with_person_overall(member) > 0 %>
          <div class="list-item-tall">
            <div class="profile-img-container">
              <%= image_tag member.profile_picture_url, class: "avatar-medium" %>
            </div>
            <div class="divider">
              <div class="list-item-divider-content">
                <p class="list-item-text"><strong><%= member.first_name %> <%= member.last_name %></strong></p>
                <p class="list-item-text">Across all groups, owes you: <span class="color-primary">£<%= sprintf("%.2f", @user.outstanding_with_person_overall(member).to_f / 100) %></span></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  <div class="section-spacer"></div>

  <!-- You Owe Section -->
    <% unless @users_user_owes.empty? %>
      <div class="title-section">
        <h3>You owe</h3>
      </div>
      <% @users.each do |member| %>
        <% if member == @user %>
          <% next %>
        <% elsif @user.outstanding_with_person_overall(member) == 0 %>
          <% next %>
        <% elsif @user.outstanding_with_person_overall(member) < 0 %>
          <div class="list-item-tall">
            <div class="profile-img-container">
              <%= image_tag member.profile_picture_url, class: "avatar-medium" %>
            </div>
            <div class="divider">
              <div class="list-item-divider-content">
                <p class="list-item-text"><strong><%= member.first_name %> <%= member.last_name %></strong></p>
                <p class="list-item-text" >Across all groups, you owe: <span class="color-warning"> £<%= sprintf("%.2f", @user.outstanding_with_person_overall(member).to_f * -1 / 100) %></span></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<% content_for(:after_js) do %>
  <!-- Javascript that controls tabs activation -->
  <%= javascript_pack_tag 'usercontroller' %>
  <script>
    // TABS SELECTOR
    const firstTab = document.getElementById("FirstTab");
    firstTab.style.display = "block";
    const firsttab = document.getElementById("firsttab")
    firsttab.className += " active";
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>
<% end %>
