<!-- Fixed Navigation Button -->
<%= render 'shared/fixed_nav_btn' %>
<!-- Navbar -->
<!-- Title in the navbar is always determined in the controller. -->
<%= render 'shared/navbar_with_menu' %>

<div class="container">
  <div class="title-section">
    <h2>Your Expenses</h2>
  </div>
  <% @transactions.each do |transaction| %>
    <% if transaction.class.name == "Expense" %>
      <% if transaction.description == "Settled" %>
        <%= link_to expense_path(transaction, user_id: @user.id, group_id: @group.id) do %>
          <div class="list-item-tall">
            <div class="divider">
              <div class="list-item-divider-content">
                <p class="list-item-text">You paid back <strong><%= transaction.splits.first.user.first_name %></strong></p>
                <p class="list-item-text" >£<%= sprintf("%.2f", transaction.amount_cents.to_f / 100) %> (<%= transaction.created_at.strftime("%m/%d/%Y") %>)</p>
              </div>
              <div class="list-item-arrow-btn .align-baseline">
                <p class="list-item-text" ><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
        <%= link_to expense_path(transaction, user_id: @user.id, group_id: @group.id) do %>
          <div class="list-item-tall">
            <div class="divider">
              <div class="list-item-divider-content">
                <p class="list-item-text">You paid for <strong><%= transaction.title %></strong> in <strong><%= transaction.group.name %></strong></p>
                <p class="list-item-text" >£<%= sprintf("%.2f", transaction.amount_cents.to_f / 100) %> (<%= transaction.created_at.strftime("%m/%d/%Y") %>)</p>
              </div>
              <div class="list-item-arrow-btn .align-baseline">
                <p class="list-item-text" ><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
              </div>
            </div>
          </div>
        <% end %>
  <% else %>
    <%= link_to expense_path(transaction.expense, user_id: @user.id, group_id: @group.id) do %>
      <div class="list-item-tall">
        <div class="divider">
          <div class="list-item-divider-content">
            <p class="list-item-text"><strong><%= transaction.expense.user.first_name %> <%= transaction.expense.user.last_name %></strong> paid for your <strong><%= transaction.expense.title %></strong> in <strong><%= transaction.expense.group.name %></strong></p>
            <p class="list-item-text" >£<%= sprintf("%.2f", transaction.amount_cents.to_f / 100) %> (<%= transaction.expense.created_at.strftime("%m/%d/%Y") %>)</p>
          </div>
          <div class="list-item-arrow-btn .align-baseline">
            <p class="list-item-text" ><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
