<!-- Welcome Section -->
<div class="wrapper" style="height:100vh">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col">
          <div class="container">
            <h1 class="no-margin no-padding color-primary">Kitty</h1>
            <h3>Component Library</h3>
            <p>Here to explain our extension design. Remember to view in mobile view as that is how the extension will always be seen</p>
            <div class="text-center">
              <a href="#" target="_blank">
                <p class="no-margin">A Product By</p>
                <h4 class="no-margin">Team Kitty</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<hr>

<!-- Colors -->
<div class="container">

  <div class="title-section">
    <h3>Colors</h3>
  </div>

  <p>We follow a semantic colour scheme, as in Bootstrap. Titles can have their colour changed with the color-primary and color-white tags.</p>

  <div class="row">
    <div class="col">
        <div class="plain-card text-center">
          <div class="plain-card-content-center-vertical">
            <div class="color-swatch" style="background-color:#60D173"></div>
            <h6 class="no-margin">Primary</h6>
            <p class="no-margin">#60D173</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="plain-card text-center">
          <div class="plain-card-content-center-vertical">
            <div class="color-swatch" style="background-color:#5A6169"></div>
            <h6 class="no-margin">Secondary</h6>
            <p class="no-margin">#5A6169</p>
          </div>
        </div>
    </div>
  </div>
  <div class="card-row-space"></div>
  <div class="row">
    <div class="col">
        <div class="plain-card text-center">
          <div class="plain-card-content-center-vertical">
            <div class="color-swatch" style="background-color:#60D173"></div>
            <h6 class="no-margin">Success</h6>
            <p class="no-margin">#60D173</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="plain-card text-center">
          <div class="plain-card-content-center-vertical">
            <div class="color-swatch" style="background-color:#FFB400"></div>
            <h6 class="no-margin">Warning</h6>
            <p class="no-margin">#FFB400</p>
          </div>
        </div>
    </div>
  </div>
  <div class="card-row-space"></div>
  <div class="row">
    <div class="col">
        <div class="plain-card text-center">
          <div class="plain-card-content-center-vertical">
            <div class="color-swatch" style="background-color:#C4183C"></div>
            <h6 class="no-margin">Danger</h6>
            <p class="no-margin">#C4183C</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="plain-card text-center">
          <div class="plain-card-content-center-vertical">
            <div class="color-swatch" style="background-color:#00B8D8"></div>
            <h6 class="no-margin">Info</h6>
            <p class="no-margin">#00B8D8</p>
          </div>
        </div>
    </div>
  </div>
  <div class="card-row-space"></div>
  <div class="row">
    <div class="col">
        <div class="plain-card text-center">
          <div class="plain-card-content-center-vertical">
            <div class="color-swatch" style="background-color:#FAFAFA"></div>
            <h6 class="no-margin">Background</h6>
            <p class="no-margin">#FAFAFA</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="plain-card text-center">
          <div class="plain-card-content-center-vertical">
            <div class="color-swatch" style="background-color:#282828"></div>
            <h6 class="no-margin">Titles</h6>
            <p class="no-margin">#282828</p>
          </div>
        </div>
    </div>
  </div>
  <div class="card-row-space"></div>

</div>

<hr>

<!-- Typography -->
<div class="container">

  <div class="title-section">
    <h3>Typography</h3>
  </div>

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Type</th>
        <th>Example</th>
        <th>Font</th>
        <th>Font Size</th>
        <th>Line Height</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Heading 1</td>
        <td><h1>ABCabc</h1></td>
        <td>Poppins 500</td>
        <td>2.7rem</td>
        <td>3 REM</td>
      </tr>
      <tr>
        <td>Heading 2</td>
        <td><h2>ABCabc</h2></td>
        <td>Poppins 300</td>
        <td>2.441 REM</td>
        <td>2.25 REM</td>
      </tr>
      <tr>
        <td>Heading 3</td>
        <td><h3>ABCabc</h3></td>
        <td>Poppins 300</td>
        <td>1.953 REM</td>
        <td>2.25 REM</td>
      </tr>
      <tr>
        <td>Paragraph</td>
        <td><p>ABCabc</p></td>
        <td>System UI / Roboto</td>
        <td>1 REM</td>
        <td>1.5</td>
      </tr>
    </tbody>
  </table>

</div>

<hr>

<!-- Navigation -->
<div class="container">

  <div class="title-section">
    <h3>Navigation</h3>
  </div>

  <p>There are two key areas of navigation, main page navigation from the navbar and action based navigation from a floating button. Secondary navigation is provided by tabs.</p>

  <!-- Simple Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-background">
    <a href="" class="navigation-link">
      <i class="fa fa-chevron-left fa-md color-white" aria-hidden="true"></i>
    </a>
    <h3 class="navbar-brand no-margin" href="#">Page Title</h3>
    <a class="navbar-toggler collapsed no-border no-padding" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars color-white" id="burger-menu" aria-hidden="true"></i>
    </a>
    <div class="navbar-collapse collapse" id="navbarNavDropdown-1" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Group <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i> Dashboard</a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Settings</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="card-row-space"></div>

  <!-- Navbar with Tabs (created dynamically with @tabs in the controller) -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-background">
    <a href="" class="navigation-link">
      <i class="fa fa-chevron-left fa-md color-white" aria-hidden="true"></i>
    </a>
    <h3 class="navbar-brand no-margin" href="#">Page Title</h3>
    <a class="navbar-toggler collapsed no-border no-padding" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars color-white" id="burger-menu" aria-hidden="true"></i>
    </a>
    <div class="navbar-collapse collapse" id="navbarNavDropdown-1" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Group <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i> Dashboard</a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Settings</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="tab">
    <button class="tablinks" id="firsttab" onclick="openCity(event, 'FirstTab')"><%= @tabs[0] %></button>
    <% @tabs.each_with_index do |tab, index| %>
      <% if index != 0 %>
      <button class="tablinks" onclick="openCity(event, '<%= tab %>')"><%= tab %></button>
      <% end %>
    <% end %>
  </div>
  <!-- The actual tabs,required -->
  <div id="FirstTab" class="tabcontent">
    <p>hi 1</p>
  </div>
  <% @tabs.each_with_index do |tab, index| %>
    <% if index != 0 %>
    <div id="<%= tab %>" class="tabcontent" style="display: none;">
      <p>hi <%= index + 1 %></p>
    </div>
    <% end %>
  <% end %>

  <!-- Add something Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-background">
    <a href="" class="navigation-link">
      <i class="fa fa-times color-white" aria-hidden="true"></i>
    </a>
    <h3 class="navbar-brand no-margin" href="#">Page Title</h3>
    <a href="" class="navigation-link">
      <i class="fa fa-check color-white" aria-hidden="true"></i>
    </a>
  </nav>

  <div class="card-row-space"></div>


  <!-- Add something Navbar with Tabs (created dynamically with @tabs_second in the controller) -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-background">
    <a href="" class="navigation-link">
      <i class="fa fa-times color-white" aria-hidden="true"></i>
    </a>
    <h3 class="navbar-brand no-margin" href="#">Page Title</h3>
    <a href="" class="navigation-link">
      <i class="fa fa-check color-white" aria-hidden="true"></i>
    </a>
  </nav>
  <div class="tab">
    <button class="tablinks" id="firsttab" onclick="openCity(event, 'FirstTab')"><%= @tabs_second[0] %></button>
    <% @tabs_second.each_with_index do |tab, index| %>
      <% if index != 0 %>
      <button class="tablinks" onclick="openCity(event, '<%= tab %>')"><%= tab %></button>
      <% end %>
    <% end %>
  </div>
  <!-- The actual tabs,required -->
  <div id="FirstTab" class="tabcontent">
    <p>hi 1</p>
  </div>
  <% @tabs_second.each_with_index do |tab, index| %>
    <% if index != 0 %>
    <div id="<%= tab %>" class="tabcontent" style="display: none;">
      <p>hi <%= index + 1 %></p>
    </div>
    <% end %>
  <% end %>

  <p>n.b. The second set of tabs acts weirdly as you can't really have multiple tab selectors on one page...</p>
</div>

<hr>

<div class="container">
  <div class="title-section">
    <h3>Cards</h3>
  </div>
  <p>Currently we have group cards (with pictures at top), and plain cards to be developed</p>

  <!-- Group With Only One Member -->
  <div class="card">
    <div class="groups-card-img-top group-card-img-size" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
    <div class="card-body">
      <h4 class="card-title">Kitty Name</h4>
      <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
      <a href="#" class="btn btn-filled-primary">Read More</a>
    </div>
  </div>
  <div class="card-row-space"></div>

  <!-- Group with 2 Members -->
  <div class="card">
    <div class="groups-card-img-top group-card-img-size group-card-members-grid-2" style="background-image: url(https://placeholdit.co//i/550x350);">
      <div class="group-card-members-grid-2-child" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
      <div class="group-card-members-grid-2-child" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title">Kitty Name</h4>
      <p class="card-text">Overall, you owe: </p>
      <a href="#" class="btn btn-filled-primary">Read More</a>
    </div>
  </div>
  <div class="card-row-space"></div>

  <!-- Group with 3 Members -->
  <div class="card">
    <div class="groups-card-img-top group-card-img-size group-card-members-grid-over2" style="background-image: url(https://placeholdit.co//i/550x350);">
      <div class="group-card-members-grid-3-child-a" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
      <div class="group-card-members-grid-3-child-b" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
      <div class="group-card-members-grid-3-child-c" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title">Kitty Name</h4>
      <p class="card-text">Overall, you owe: </p>
      <a href="#" class="btn btn-filled-primary">Read More</a>
    </div>
  </div>
  <div class="card-row-space"></div>

  <!-- Group with 4+ Members -->
  <div class="card">
    <div class="groups-card-img-top group-card-img-size group-card-members-grid-over2" style="background-image: url(https://placeholdit.co//i/550x350);">
      <div class="group-card-members-grid-4-child-a" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
      <div class="group-card-members-grid-4-child-b" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
      <div class="group-card-members-grid-4-child-c" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
      <div class="group-card-members-grid-4-child-d" style="background-image: url(https://placeholdit.co//i/550x350);"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title">Kitty Name</h4>
      <p class="card-text">Overall, you owe: </p>
      <a href="#" class="btn btn-filled-primary">Read More</a>
    </div>
  </div>
  <div class="card-row-space"></div>

  <!-- Plain Card -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Card Title</h4>
      <p class="card-text">Some text, maybe even a graph or an icon. </p>
      <a href="#" class="btn btn-filled-primary">Read More</a>
    </div>
  </div>
  <div class="card-row-space"></div>
</div>

<hr>

<div class="container">
  <div class="title-section">
    <h3>List Items</h3>
  </div>
  <p>Tall List Items include and image and two rows of text. Short list items are just text.</p>

  <!-- Tall List Items -->
  <div class="list-item-tall">
    <div class="profile-img-container">
      <%= image_tag "https://placeholdit.co//i/550x350", class: "avatar-medium" %>
    </div>
    <div class="divider">
      <div class="list-item-divider-content">
        <p class="list-item-text"><strong>Jamie Dujardin</strong></p>
        <p class="list-item-text" >You're all square</p>
      </div>
    </div>
  </div>
  <div class="list-item-tall">
    <div class="profile-img-container">
      <%= image_tag "https://placeholdit.co//i/550x350", class: "avatar-medium" %>
    </div>
    <div class="divider">
      <div class="list-item-divider-content">
        <p class="list-item-text"><strong>Jamie Dujardin</strong></p>
        <p class="list-item-text" >You owe: <span style="color:red"> £20.00</span></p>
      </div>
    </div>
  </div>
  <div class="list-item-tall">
    <div class="profile-img-container">
      <%= image_tag "https://placeholdit.co//i/550x350", class: "avatar-medium" %>
    </div>
    <div class="divider">
      <div class="list-item-divider-content">
        <p class="list-item-text"><strong>Jamie Dujardin</strong></p>
        <p class="list-item-text">Owes you: <span style="color:green">£20.00</span></p>
      </div>
    </div>
  </div>
      <!-- IF YOU WANT TO USE DYNAMICALLY -->
      <!-- <div class="list-item-tall">
        <div class="profile-img-container">
          <%# image_tag .profile_picture_url, class: "avatar-list" %>
        </div>
        <div class="divider">
          <div class="list-item-divider-content">
            <p class="list-item-text"><strong><%# member.first_name %> <%# member.last_name %></strong></p>
            <%# if @user.outstanding_with_person_in_group(member, @group) == 0 %>
              <p class="list-item-text" >You're all square</p>
            <%# elsif @user.outstanding_with_person_in_group(member, @group) < 0 %>
              <p class="list-item-text" >You owe: <span style="color:red"> £<%# sprintf("%.2f", @user.outstanding_with_person_in_group(member, @group).to_f * -1 / 100) %></span></p>
            <%# else %>
              <p class="list-item-text">Owes you: <span style="color:green">£<%# sprintf("%.2f", @user.outstanding_with_person_in_group(member, @group).to_f / 100) %></span></p>
            <%# end %>
          </div>

          <%# if @user.outstanding_with_person_in_group(member, @group) < 0 %>
            <div class="list-item-settle-btn">
              <%# link_to settle_path(user_id: @user.id, group_id: @group.id, to_pay_id: member.id) do %>
                <button class="settle-btn"><div class="settle-inner send-inner">Settle <img src="https://png.icons8.com/paper-plane/ios11/22/ffffff"></div></button>
              <%# end %>
            </div>
          <%# end %>
        </div>
      </div> -->
  <br>
  <!-- List Item Short -->
  <div class="list-item-short">
    <div class="divider">
      <div class="list-item-divider-content">
        <p class="list-item-text" >Expense title</p>
      </div>
      <div class="list-item-arrow-btn .align-baseline">
          <p class="list-item-text" ><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </div>
    </div>
  </div>
  <div class="list-item-short">
    <div class="divider">
      <div class="list-item-divider-content">
        <p class="list-item-text" >Expense title</p>
      </div>
      <div class="list-item-arrow-btn .align-baseline">
          <p class="list-item-text" ><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </div>
    </div>
  </div>
  <div class="list-item-short">
    <div class="divider">
      <div class="list-item-divider-content">
        <p class="list-item-text" >Expense title</p>
      </div>
      <div class="list-item-arrow-btn .align-baseline">
          <p class="list-item-text" ><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="title-section">
    <h3>Form Inputs</h3>
  </div>
  <p>Forms are used to input data for adding expenses, and in the future, payments data.</p>

  <%= simple_form_for [ @expense ] do |f| %>
    <label class="input-form-label" for="first_name">Title</label>
    <%= f.input :title, :class => 'input-form-item', input_html: { id: "title"}, :label => false, placeholder: "Placeholder" %>

    <label class="input-form-label" for="first_name">Amount</label>
    <%= f.input :title, :class => 'input-form-item', input_html: { id: "title"}, :label => false, placeholder: "£20.00" %>

    <% descriptions_arr = ["Jamie's Birthday", "Open Mic Night", "Holiday on Mallorca", "Interrailing with Charlotte", "Weekend trip to Wonderland", "Deliveroo"] %>
    <label class="input-form-label" for="first_name">Description</label>
    <%= f.input :description, :class => 'input-form-item', :label => false, as: :text, placeholder: "i.e. #{descriptions_arr.sample} " %>
    <%= f.hint 'No special characters, please!' %>

    <label class="input-form-label" for="first_name">Select Something</label>
    <%= f.input :description, :class => 'input-form-item radio-buttons', :label => false, as: :radio_buttons %>

    <label class="input-form-label" for="first_name">Created At</label>
    <%= f.input :created_at, :label => false, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %>

    <label class="input-form-label" for="first_name">Settle Amount</label>
    <%= f.input :title, :label => false, collection: (sprintf("%.2f", 0)..sprintf("%.2f", 60)).step(50) %>

    <label class="input-form-label" for="first_name">Settle Amount</label>
    <%= f.input :title, :label => false, as: :file %>
  <% end %>

  <label class="input-form-label" for="first_name">Who's Involved</label>
  <div class="side-scroller-description side-scroller-base text-center">
    <p>Go on then, who bought something?</p>
  </div>
  <% if @group.users.length <= 4 %>
    <div class="row">
      <!-- <div class="col-xs-3 user-self">
        <div class="user-selector-area text-center current-user">
          <%# image_tag @user.profile_picture_url, class: "avatar-scroll", data: { id: @user.id } %>
          <p class="under-avatar-text"><%# @user.first_name %> (Me)</p>
        </div>
      </div> -->
      <% @group.users.each do |member| %>
        <%# if member == @user %>
          <%# next %>
        <%# end %>
        <div class="col">
          <div class="user-selector-area text-center">
            <%= image_tag member.profile_picture_url, class: "avatar-large", data: { id: member.id } %>
            <p class="under-avatar-text"><%= member.first_name %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="testimonial-group side-scroller-base">
      <div class="row">
        <!-- <div class="col-xs-3 user-self">
          <div class="user-selector-area text-center current-user">
            <%# image_tag @user.profile_picture_url, class: "avatar-scroll", data: { id: @user.id } %>
            <p class="under-avatar-text"><%# @user.first_name %> (Me)</p>
          </div>
        </div> -->
        <% @group.users.each do |member| %>
          <%# if member == @user %>
            <%# next %>
          <%# end %>
          <div class="col-3">
            <div class="user-selector-area text-center">
              <%= image_tag member.profile_picture_url, class: "avatar-large", data: { id: member.id } %>
              <p class="under-avatar-text"><%= member.first_name %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<hr>

<div class="container">
  <div class="title-section">
    <h3>Sliders</h3>
  </div>


</div>

  <div class="bottom-space"></div>

<script>
  let burger = document.querySelector("#burger-menu")
  burger.addEventListener("click", () => {
    burger.classList.toggle("navbar-toggler-icon-rotated")
  })

  const firstTab = document.getElementById("FirstTab");
  firstTab.style.display = "block";
  const firsttab = document.getElementById("firsttab")
  firsttab.className += " active";
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
