<% @title = "Create a Kitty" %>

<!-- Navbar -->
<div class="navbar navbar-background">
  <i class="fa fa-home fa-lg color-white navigation-link no-margin" aria-hidden="true"></i>
    <!-- <h3 class="navbar-brand no-margin color-white" href="#">Create a kitty</h3> -->
  <i class="fa fa-bars color-white" id="burger-menu" aria-hidden="true"></i>
</div>

<!-- Content -->
<div class="container">
  <div class="plain-card-content-center-vertical-max-height-with-bottom-btn">
    <div class="content">
      <h1 class="no-margin no-padding color-primary">Kitty</h1>
      <h3>Time to get setup</h3>
      <div class="card-row-space"></div>
      <%= @group.name = nil %>
      <label class="input-form-label" for="first_name">Name your Kitty (required)</label>
      <%= simple_form_for [ @group ] do |f| %>
      <%= f.input :name, :maxlength => "18", :label => false, :required => true, :placeholder => "i.e. Holiday in Lisbon", :class => "form-control" %>
      <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
      <%= f.input :group_id, as: :hidden, input_html: { value: @group.id } %>
    </div>
  </div>
</div>

<!-- Bottom Button -->
<div class="fixed-btn-section">
  <button class="send-btn-primary"><i class="fa fa-plus fa-lg fa-fw mr-2" aria-hidden="true"></i>Setup Your Group Kitty</button>
</div>
<% end %>

<!-- JAVASCRIPT FOR THE BUTTON TO SEND TO GROUP, TURN KITTY_CREATED=TRUE AND REDIRECT -->
<% content_for(:after_js) do %>
  <script>
    // console.log("<%= @user.first_name %>");
    document.querySelector(".send-btn-primary").addEventListener("click", () => {
      console.log("<%= @user.first_name %>");
      let message = {
                    "attachment":{
                      "type":"template",
                      "payload":{
                        "template_type":"generic",
                        "elements": [{
                          "title":"<%= @user.first_name %> just started a Kitty for this group!",
                          "subtitle": "Kitty: Money Sharing Made Simple",
                          "default_action":{
                            "type":"web_url",
                            "url": "https://kittymoneysplitting.herokuapp.com/"
                          },
                          "buttons":[{
                            "type":"web_url",
                            "url":"<%= ENV['NGROK'] %>/welcome/",
                            "title":"Check Out Kitty",
                            "webview_height_ratio": "full",
                            "webview_share_button": "hide",
                            "messenger_extensions": true
                          }]
                        }]
                      }
                    }
                  };

      MessengerExtensions.beginShareFlow(function(share_response) {
        // User dismissed without error, but did they share the message?
        if(share_response.is_sent){
          // The user actually did share.
          // Perhaps close the window w/ requestCloseBrowser().
          <% @group.kitty_created = true %>
          <% @group.save %>
          // window.location.href="/extension/groups/<%= @group.id %>?user_id=<%= @user.id %>&group_id=<%= @group.id %>"
        }
      },
      function(errorCode, errorMessage) {
      // An error occurred in the process

      },
      message,
      "current_thread");
          });

  </script>

  <!-- Welcome Javascript -->
  <% if @user.first_sign_in == true %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.1.1/sweetalert2.all.min.js' %>
    <script>
    swal.setDefaults({
    type: 'info',
    confirmButtonText: 'Next &rarr;',
    confirmButtonColor: '#00B8D8',
    progressSteps: ['1', '2', '3', 'P.S']
    })

    var steps = [
    {
      position: 'top-right',
      type: 'info',
      title: '<h3>Welcome to Kitty, looks like its your first time</h3>',
      text: "This is the home of your group chat's expenses and lending. Soon you will be able to pay people back too!"
    },
    {
      position: 'top-right',
      type: 'info',
      title: '<h3>Add an expense</h3>',
      text: "Down in the bottom right there is a button to add an expense or settle with someone. You can also send a reminder to people to pay you back."
    },
    {
      position: 'top-right',
      type: 'info',
      title: '<h3>Keep on top of everything</h3>',
      text: "Your profile is a little dashboard to show you exactly who and how much you owe or are owed. We even keep track of all the transactions you're involved in and have built you a stinginess ratio to show your friends who is best at lending money!"
    },
    {
      position: 'top-right',
      type: 'info',
      title: '<h3>Kitty is in Beta</h3>',
      text: 'Please help us by reporting any bugs you find'
    },
    ]

    swal.queue(steps).then((result) => {
    swal.resetDefaults()

    if (result.value) {
      swal({
        position: 'top-right',
        title: "<h3>That's everything for now. More coming soon!</h3>",
        text: "We want to know what the next key features should be. Let us know at www.kittysplit.co.uk",
        confirmButtonText: 'All Understood!',
        confirmButtonColor: '#00B8D8'
      })
    }
    })
    </script>
    <% @user.first_sign_in = false %>
    <% @user.save %>
  <% end %>
<% end %>

<!-- <div>
  <%# image_tag 'primary_logo_and_text.png', style: 'height:auto;width:100%;' %>
  <h4 class="welcome-text nunito">Splitting money <br> made simple</h4>
</div>
<div class="container no-top-marg text-left">
  <h3 class="Poppins heavy"><strong>How it works:</strong></h3>
  <div class="line-spaced"><p class="less-pad">Name Your Kitty</p></div>
    <%# @group.name = nil %>
    <%# simple_form_for [ @group ] do |f| %>
      <div class="r-l-pad"><%# f.input :name, :maxlength => "18", :label => false, :required => true, :placeholder => "i.e. #{@user.first_name} and friends' Kitty", :class => "Poppins name-input form-control" %></div>
  <div class="line-spaced"><p class="less-pad">Easily track shared expenses </p></div>
  <div class="line-spaced"><p class="less-pad">Let Kitty simplify the repayments</p></div>
  <div class="line-spaced"><p class="less-pad">Automatically tell others when you repay!</p></div>
</div> -->
<!-- <div class="mini-margin">
    <h6 class="heavy">Name your kitty:</h6>
</div> -->
