<!-- Webpage Title -->
<% @title = "New expense in #{@group.name}" %>
<!-- ##################################################################################################################### -->
<!-- Add something Navbar -->
<!-- ##################################################################################################################### -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-background">
  <%= link_to group_path(@group, user_id: @user.id, group_id: @group.id) do %>
    <i class="fa fa-times color-white navigation-link" aria-hidden="true"></i>
  <% end %>
  <h3 class="navbar-brand no-margin" href="#"><%= @nav_titles[0] %></h3>
  <a href="" class="navigation-link">
    <!-- <i class="fa fa-check color-white navigation-link" aria-hidden="true"></i> -->
  </a>
</nav>

<!-- ##################################################################################################################### -->
<!-- Tabs Bar -->
<!-- ##################################################################################################################### -->
<div class="tab mb-4">
  <button class="tablinks" id="firsttab" onclick="openCity(event, 'FirstTab')"><%= @tabs[0] %></button>
  <% @tabs.each_with_index do |tab, index| %>
    <% if index != 0 %>
    <button class="tablinks" onclick="openCity(event, '<%= tab %>')"><%= tab %></button>
    <% end %>
  <% end %>
</div>

<!-- ##################################################################################################################### -->
<!-- Add Expense -->
<!-- ##################################################################################################################### -->
<div id="FirstTab" class="tabcontent">
  <div class="container">
    <%= simple_form_for [ @expense ] do |f| %>

    <!-- Title New Expense -->
    <% payment_title_arr = ["Sunday Lunch", "British Gas", "Beers for the Boys", "Cinema and Crisps", "Pizza", "Council Tax", "Cheeky Nandos", "House Bills"] %>
    <label class="input-form-label" for="first_name">What did you pay for? (required)</label>
    <%= f.input :title, :class => 'input-form-item', input_html: { id: "title"}, :label => false, placeholder: "#{payment_title_arr.sample}" %>

    <!-- New Expense Amount -->
    <% @expense.amount_cents = nil %>
    <label class="input-form-label" for="first_name">How much did you pay? (required)</label>
    <%= f.input :amount_cents, :type => String, input_html: { id: "amount"}, :class => 'input-form-item', :label => false, placeholder: "£0.00" %>

    <!-- Split Between -->
    <label class="input-form-label" for="first_name">Who's Involved? (required)</label>
    <div class="side-scroller-description side-scroller-base text-center">
      <p>Go on then, who bought something?</p>
    </div>
    <% if @group.users.length < 4 %>
      <div class="row">
        <div class="col">
          <div class="user-selector-area text-center">
            <%= image_tag @user.profile_picture_url, class: "avatar-large avatar-new", data: { id: @user.id } %>
            <p class="under-avatar-text"><%= @user.first_name %> (Me)</p>
          </div>
        </div>
        <% @group.users.each do |member| %>
          <% if member == @user %>
            <% next %>
          <% end %>
          <div class="col">
            <div class="user-selector-area text-center">
              <%= image_tag member.profile_picture_url, class: "avatar-large avatar-new", data: { id: member.id } %>
              <p class="under-avatar-text"><%= member.first_name %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="testimonial-group side-scroller-base">
        <div class="row">
          <div class="col-3">
            <div class="user-selector-area text-center">
              <%= image_tag @user.profile_picture_url, class: "avatar-large avatar-new", data: { id: @user.id } %>
              <p class="under-avatar-text"><%= @user.first_name %> (Me)</p>
            </div>
          </div>
          <% @group.users.each do |member| %>
            <% if member == @user %>
              <% next %>
            <% end %>
            <div class="col-3">
              <div class="user-selector-area text-center">
                <%= image_tag member.profile_picture_url, class: "avatar-large avatar-new", data: { id: member.id } %>
                <p class="under-avatar-text"><%= member.first_name %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Payment Type (Optional) -->
    <label class="input-form-label" for="payment_method">How did you pay?</label>
    <%= f.input :payment_method, :type => String, input_html: { id: "payment-method"}, :class => 'input-form-item', :label => false, collection: ["Bank Transfer", "Card", "Cash", "Paypal"] %>

    <!-- Location of Expense (Optional) -->
    <label class="input-form-label" for="first_name">Where was it?</label>
    <% locations_arr = ["Wagamama", "The Sloaney Pony", "Picturehouse", "Le Rac Shak", "PingPong Dim Sum", "Nandos", "Theater"] %>
    <%= f.input :location, :class => 'input-form-item', :label => false, placeholder: "#{locations_arr.sample}" %>

    <!-- Description of Expense (Optional) -->
    <label class="input-form-label" for="first_name">Description?</label>
    <% descriptions_arr = ["Jamie's Birthday", "Open Mic Night", "Holiday on Mallorca", "Interrailing with Charlotte", "Weekend trip to Wonderland", "Deliveroo"] %>
    <%= f.input :description, :class => 'input-form-item', :label => false, :type => "text", placeholder: "#{descriptions_arr.sample} " %>

    <!-- Hidden Inputs -->
    <%= f.input :involved_group, as: :hidden, input_html: { value: "", id: "involved_group_field" } %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :to_pay_id, value: @user.id %>
    <%= f.hidden_field :group_id, value: @group.id %>

    <!-- Input Button (to be removed) -->
    <%= button_tag type: 'submit', class: "navbar-tick-btn" do %>
      <i class="fa fa-check color-white navigation-link" aria-hidden="true"></i>
    <% end %>
    <!-- Simple Form End -->
    <% end %>
  </div>
</div>

<!-- ##################################################################################################################### -->
<!-- Settle Expense -->
<!-- ##################################################################################################################### -->
<div id="Settle" class="tabcontent" style="display: none;">
  <div class="container">
    <% owed_array = [] %>
    <% @group.users.each do |member| %>
      <% if member == @user || @user.outstanding_with_person_in_group(member, @group) > 0 %>
        <% owed_array << member %>
      <% end %>
    <% end %>
    <% if @group.users.length == owed_array.length %>
      <h4>Look's like you don't owe anyone at the moment - good work!</h4>
    <% else %>
      <!-- Pay Back Person Selector -->
      <label class="input-form-label" for="first_name">Who do you want to settle with?</label>
      <% if @group.users.length <= 5 %>
        <div class="row">
          <% @group.users.each do |member| %>
            <% if member == @user || @user.outstanding_with_person_in_group(member, @group) > 0 %>
              <% next %>
            <% end %>
            <div class="col">
              <div class="user-selector-area text-center">
                <%= image_tag member.profile_picture_url, class: "avatar-large avatar-settle", data: { id: member.id } %>
                <p class="under-avatar-text"><%= member.first_name %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="testimonial-group side-scroller-base">
          <div class="row">
            <% @group.users.each do |member| %>
              <% if member == @user %>
                <% next %>
              <% end %>
              <div class="col-3">
                <div class="user-selector-area text-center">
                  <%= image_tag member.profile_picture_url, class: "avatar-large avatar-settle", data: { id: member.id } %>
                  <p class="under-avatar-text"><%= member.first_name %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= simple_form_for [ @expense ] do |f| %>
          <!-- Choose Amount to Settle -->
          <% @expense.amount_cents = nil %>
          <label class="input-form-label" for="payment_method">How did you pay? (required)</label>
          <%= f.input :payment_method, :type => String, input_html: { id: "payment-method"}, :class => 'input-form-item', :label => false, collection: ["Bank Transfer", "Card", "Cash", "Paypal"] %>
          <label class="input-form-label" for="amount_cents">How much? (required)</label>
          <%= f.input :amount_cents, :type => String, input_html: { id: "amount"}, :class => 'input-form-item', :label => false, placeholder: "£0.00" %>

          <%= f.hidden_field :title, value: "#{@user.first_name} settled up" %>
          <%= f.hidden_field :description, value: "Settled" %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.input :settle_group, as: :hidden, input_html: { value: "", id: "settle_group_field" } %>
          <%# f.hidden_field :settle_group, value: "#{@user.id}" %>
          <%= f.input :to_pay_id, as: :hidden, input_html: { value: "", id: "to_pay_field" } %>
          <%= f.hidden_field :location, value: "" %>
          <%= f.hidden_field :group_id, value: @group.id %>
        </div>

        <%= button_tag type: '#', class: "navbar-tick-btn" do %>
          <i class="fa fa-check color-white navigation-link" aria-hidden="true"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- JAVASCRIPT FOR THE BUTTON TO SEND TO GROUP AND CLOSE BROWSER -->
<% content_for(:after_js) do %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.1.1/sweetalert2.all.min.js' %>
  <script>
  // ###########################################################################################################
  // Page Wide Variables:
  // ###########################################################################################################
    let avatars = document.querySelectorAll(".avatar-new");
    let settleAvatars = document.querySelectorAll(".avatar-settle");
    let description = document.querySelector(".side-scroller-description");
    let message = {
                  "attachment":{
                    "type":"template",
                    "payload":{
                      "template_type":"generic",
                      "elements": [{
                        "title":"<%= @user.first_name %> just added an expense to your Kitty!",
                        "subtitle": `They paid £${amount.value} for ${title.value}`,
                        "buttons":[{
                          "type":"web_url",
                          "url":"<%= ENV['NGROK'] %>/welcome/",
                          "title":"View the Expense",
                          "webview_height_ratio": "full",
                          "messenger_extensions": true
                        }]
                      }]
                    }
                  }
                };
    const firstTab = document.getElementById("FirstTab");
    const firsttab = document.getElementById("firsttab")
    const tablinks = document.getElementsByClassName("tablinks");

  // ###########################################################################################################
  // Output Code
  // ###########################################################################################################
  // Tabs Selector
    // Display first tab initially:
    firstTab.style.display = "block";
    firsttab.className += " active";
    // Change Navbar Title as Tabs Change
    tablinks[0].addEventListener("click", () => {
      document.querySelector(".navbar-brand").innerHTML = "Add an expense"
    })
    tablinks[1].addEventListener("click", () => {
      document.querySelector(".navbar-brand").innerHTML = "Settle an expense"
    })
    // Change Displayed Tab as Tabs Change
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
          tablinks = document.getElementsByClassName("tablinks");
      }
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

  // Update Array of Members Involved and Avatar Highlighting for New Expense
    avatars.forEach((avatar) => {
      avatar.addEventListener("click", () => {
        settleAvatars.forEach((settleAvatar) => {
            settleAvatar.classList = "avatar-large avatar-settle"
        })
        avatar.classList.toggle("avatar-highlighted");
        let membersArray = [];
        alterMembersArray(membersArray);
        document.getElementById("involved_group_field").value = `${membersArray}`;
        chooseAndAppendDescription(membersArray);
      })
    })

  // Update Array of Members Involved and Avatar Highlighting for Settle
    settleAvatars.forEach((avatar) => {
      avatar.addEventListener("click", () => {
        avatars.forEach((newAvatar) => {
          newAvatar.classList = "avatar-large avatar-new"
        })
        settleAvatars.forEach((settleAvatar) => {
          if (settleAvatar === avatar) {

          }
          else {
            settleAvatar.classList = "avatar-large avatar-settle"
          }
        })
        avatar.classList.toggle("avatar-highlighted");
        let membersArray = [];
        alterSettleArray(membersArray);
        document.getElementById("settle_group_field").value = `${membersArray}`;
        document.getElementById("to_pay_field").value = `${membersArray}`;
      })
    })

  // On click of send button, success and failure
    document.querySelector(".navbar-tick-btn").addEventListener("click", () => {
      if (document.getElementById("involved_group_field").value === "" || document.getElementById("involved_group_field").value === ["<%= @user.id %>"]) {
        descriptionForFailedPeopleSelection();
      }
      else {
        updateMessageSubtitleWithTitleAndAmount()
        // Begin Facebook's Send to Group Flow
        MessengerExtensions.beginShareFlow(function(share_response) {
          // User dismissed without error, but did they share the message?
          // if(share_response.is_sent){
          //   // The user actually did share.
          //   // Perhaps close the window w/ requestCloseBrowser().
          //   MessengerExtensions.requestCloseBrowser(function success() {
          //     // webview closed if successful
          //   }, function error(err) {
          //     // if an error occurred, run no code
          //   });
          // }
        },
        function(errorCode, errorMessage) {
        // An error occurred in the process of sending message, do nothing
        },
        message,
        "current_thread");
        // End Facebook's Send to Group Flow
        swal({
          position: 'top-right',
          type: 'success',
          title: '<h3> Expense created! </h3>',
          showConfirmButton: true,
          confirmButtonText: '<i class="fa fa-thumbs-up"></i>',
          confirmButtonColor: '#00B8D8',
        })
      }
    });

  // ###########################################################################################################
  // Supporter Functions
  // ###########################################################################################################
    function alterMembersArray(membersArray) {
      avatars.forEach((avatar) => {
        if (avatar.classList.contains("avatar-highlighted")) {
          membersArray.push(avatar.dataset.id);
        }
      })
      return membersArray;
    }

    function alterSettleArray(membersArray) {
      settleAvatars.forEach((avatar) => {
        if (avatar.classList.contains("avatar-highlighted")) {
          membersArray.push(avatar.dataset.id);
        }
      })
      return membersArray;
    }

    function descriptionForFailedPeopleSelection() {
      document.body.append("You haven't selected anyone!");
      description.innerHTML = "";
    }

    function updateMessageSubtitleWithTitleAndAmount() {
      let amount = document.getElementById('amount')
      let title = document.getElementById('title')
      message["attachment"]["payload"]["elements"][0]["subtitle"] = `They paid £${amount.value} for ${title.value}`;
    }

    function chooseAndAppendDescription(membersArray) {
      if (membersArray.length === <%= @group.users.count %>) {
        description.innerHTML = "";
        description.insertAdjacentHTML('afterbegin','<p><strong class="color-primary">Split equally</strong> between <strong class="color-primary">all members</strong> of the group</p>');
      }
      else if (membersArray.length > 2 && document.getElementById("involved_group_field").value.includes(<%= @user.id.to_s %>)) {
        const others_amount = membersArray.length - 1
        description.innerHTML = "";
        description.insertAdjacentHTML('afterbegin',`<p><strong class="color-primary">Split equally</strong> between <strong class="color-primary">you and ${others_amount} others</strong></p>`);
      }
      else if (membersArray.length === 1 && document.getElementById("involved_group_field").value.includes(<%= @user.id.to_s %>)) {
        const others_amount = membersArray.length - 1
        description.innerHTML = "";
        description.insertAdjacentHTML('afterbegin',`<p class="no-margin">You want to make an expense just with yourself? Even a cat doubts that...</p>`);
      }
      else if (document.getElementById("involved_group_field").value.includes(<%= @user.id.to_s %>)) {
        const others_amount = membersArray.length - 1
        description.innerHTML = "";
        description.insertAdjacentHTML('afterbegin',`<p><strong class="color-primary">Split equally</strong> between <strong class="color-primary">you and ${others_amount} other</strong></p>`);
      }
      else if (membersArray.length > 1) {
        const others_amount = membersArray.length
        description.innerHTML = "";
        description.insertAdjacentHTML('afterbegin',`<p><strong class="color-primary">You are owed everything</strong> by <strong class="color-primary">${others_amount} others</strong> who split it equally</p>`);
      }
      else if (membersArray.length === 1) {
        const others_amount = membersArray.length
        description.innerHTML = "";
        description.insertAdjacentHTML('afterbegin',`<p><strong class="color-primary">You are owed everything</strong> by just <strong class="color-primary">${others_amount} person</strong></p>`);
      }
      else {
        description.innerHTML = "";
        description.insertAdjacentHTML('afterbegin',`<p>Well this isn't going to work is it</p>`);
      }
    }

  </script>
<% end %>
