<!-- Defining page title -->
<% if @expense.description == "Settled" %>
  <% @title = "Settle Breakdown" %>
<% else %>
  <% @title = "Expense Breakdown" %>
<% end %>

<!-- Navbar -->
<%= render 'shared/navbar_with_menu' %>

<!-- Fixed Navigation Button -->
  <!-- Title in the navbar is always determined in the controller. -->
<%= render 'shared/fixed_nav_btn' %>

<div class="container">
  <% if @expense.description == "Settled" %>
    <div class="title-section">
      <h4 class="no-margin"><%= @expense.user.first_name %> paid back £<%= sprintf("%.2f", (@expense.amount_cents.to_f / 100)) %></h4>
    </div>
    <% else %>
    <div class="title-section">
      <h4 class="no-margin">Overall, <%= @expense.user.first_name %> paid £<%= sprintf("%.2f", (@expense.amount_cents.to_f / 100)) %> for <%= @expense.title %></h4>
    </div>
    <% end %>

  <hr>
  <% if @expense.description == "Settled" %>
    <div class="list-item-tall">
      <div class="profile-img-container mr-4">
        <%= image_tag @expense.user.profile_picture_url, class: "avatar-medium" %>
      </div>
      <div class="arrow-right-container text-center">
        <p class="under-avatar-text no-margin">Paid Back: £<%= sprintf("%.2f", (@expense.amount_cents.to_f / 100)) %></p>
        <%= image_tag 'arrow-right.svg', class: "arrow-right"%>
        <p class="under-avatar-text no-margin"><%= @expense.created_at.strftime("%b %d, %Y") %></p>
      </div>
      <div class="profile-img-container ml-4">
        <%= image_tag @expense.splits.first.user.profile_picture_url, class: "avatar-medium" %>
      </div>
    </div>
  <% else %>
    <% @expense.splits.each do |split| %>
    <div class="list-item-tall">
      <div class="profile-img-container mr-4">
        <%= image_tag @expense.user.profile_picture_url, class: "avatar-medium" %>
      </div>
      <div class="arrow-right-container text-center">
        <p class="under-avatar-text no-margin">Lent: £<%= sprintf("%.2f", (split.amount_cents.to_f / 100)) %></p>
        <%= image_tag 'arrow-right.svg', class: "arrow-right"%>
        <p class="under-avatar-text no-margin"><%= @expense.created_at.strftime("%b %d, %Y") %></p>
      </div>
      <div class="profile-img-container ml-4">
        <%= image_tag split.user.profile_picture_url, class: "avatar-medium" %>
      </div>
    </div>
    <hr>
    <% end %>
  <% end %>

  <hr>

  <div class="title-section">
    <h4 class="no-margin">Details</h4>
  </div>

  <% unless @expense.location == "" %>
    <div class="container">
      <p>Paid at: <%= @expense.location %></p>
    </div>
  <% end %>

  <% unless @expense.payment_method == "" %>
    <div class="container">
      <p>Paid by: <%= @expense.payment_method %></p>
    </div>
  <% end %>

  <% unless @expense.description == "" || @expense.description == "Settled" %>
    <div class="container">
      <p>Description: <%= @expense.description %></p>
    </div>
  <% end %>

</div>
