<div class="profile-header text-center">
  <%= image_tag @user.profile_picture_url, class: "avatar-profile-picture" %>
  <h2 class="color-white"><%= @user.first_name %> <%= @user.last_name %></h2>
</div>
<div class="container">
  <div class="title-section">
    <h3>Overview</h3>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <% if @balance == 0 %>
        <p class="mb-3">Across all groups, all square:</p>
        <h4 class="no-margin">£0.00</h4>
      <% elsif @balance > 0 %>
        <p class="mb-3">Across all groups, owed:</p>
        <h4 class="no-margin color-primary"><span class="color-primary">£<%= sprintf("%.2f", (@balance.to_f) / 100) %></span></h4>
      <% else %>
        <p class="mb-3">Across all groups, owe:</p>
        <h4 class="no-margin color-danger"><span class="color-danger">£<%= sprintf("%.2f", (@balance.to_f) / 100  * -1) %></span></h4>
      <% end %>
    </div>
  </div>
  <div class="card-row-space"></div>

  <div class="title-section">
    <h3>Ratings</h3>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <p class="mb-3">Stinginess Ratio:</p>
      <h4 class="no-margin"><%= (@amount_lent.to_f/@amount_borrowed.to_f).round(2) %></h4>
      <p class="no-margin under-avatar-text">(higher is less stingy...)</p>
    </div>
  </div>
  <div class="card-row-space"></div>

  <div class="title-section">
    <h3>Profile Details</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="no-margin"><strong>Number of Transactions:</strong> <%= @transactions.count %></p>
      <hr>
      <p><strong>Number of times lent:</strong> <%= @expenses_paid.count %></p>
      <p class="no-margin"><strong>Amount lent:</strong> £<%= sprintf("%.2f", @amount_lent.to_f / 100) %></p>
      <hr>
      <p><strong>Number of times borrowed:</strong> <%= @splits_owed.count %></p>
      <p class="no-margin"><strong>Amount borrowed:</strong> £<%= sprintf("%.2f", @amount_borrowed.to_f / 100) %></p>
      <hr>
      <p class="no-margin"><strong>Joined On:</strong> <%= @user.created_at.strftime("%b %d, %Y") %></p>
    </div>
  </div>
  <div class="card-row-space"></div>
</div>
