<div class="profile-header text-center">
  <%= image_tag @user.profile_picture_url, class: "avatar-profile-picture" %>
  <h2 class="color-white"><%= @user.first_name %> <%= @user.last_name %></h2>
</div>
<div class="container">
  <div class="title-section">
    <h3>Overview</h3>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <p><strong>Outstanding:</strong></p>
      <% if @balance == 0 %>
        <h5 class="no-margin">£0.00</h5>
      <% elsif @balance > 0 %>
        <h5 class="no-margin">Owed: <span class="color-primary">£<%= sprintf("%.2f", (@balance.to_f) / 100) %></span></h5>
      <% else %>
        <h5 class="no-margin color-danger">Owe: <span class="color-danger">£<%= sprintf("%.2f", (@balance.to_f) / 100  * -1) %></span></h5>
      <% end %>
    </div>
  </div>
  <div class="card-row-space"></div>

  <div class="title-section">
    <h3>Profile Details</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="no-margin"><strong>Joined On:</strong> <%= @user.created_at.strftime("%b %d, %Y") %></p>
      <hr>
      <p class="no-margin"><strong>Number of Transactions:</strong> <%= @transactions.count %></p>
      <hr>
      <p><strong>Number of times lent:</strong> <%= @expenses_paid.count %></p>
      <p class="no-margin"><strong>Amount lent:</strong> £<%= sprintf("%.2f", @amount_lent.to_f / 100) %></p>
      <hr>
      <p><strong>Number of times borrowed:</strong> <%= @splits_owed.count %></p>
      <p class="no-margin"><strong>Amount borrowed:</strong> £<%= sprintf("%.2f", @amount_borrowed.to_f / 100) %></p>
      <hr>
      <p><strong>Stinginess Ratio:</strong> <%= (@amount_lent.to_f/@amount_borrowed.to_f).round(2) %> (higher is less stingy...)</p>
    </div>
  </div>
  <div class="card-row-space"></div>
</div>
